* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Marko One", serif;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}
.hero {
  background-image: url("./components/img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-width: 100vw;
}

.header {
  display: flex;
  height: 15vh;
  width: 100vw;
  justify-content: space-between;
  position: relative;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0 0 1rem;
}
.logo-img {
  height: 16vh;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.84));
}
.logo-text {
  width: 132px;
  height: 25vh;
  font-family: Marko One;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(3, 3, 3, 0.66);
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 6rem 0;
  width: auto;
  justify-content: space-between;
}
.btn1 {
  width: 112px;
  height: 34px;
  text-decoration: none;
  color: #ffffff;
  border: none;
  cursor: pointer;
  background-color: #ffffff00;
  font-family: "DM Sans", sans-serif;
  margin-right: 1rem;
  font-size: 19px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(3, 3, 3, 0.493);
}
.btn1:hover {
  filter: drop-shadow(0px 5px 5px rgba(8, 59, 107, 0.26));
}
.btn2 {
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.2em 0.5em;
  color: #ffffff;
  background: linear-gradient(rgba(117, 178, 115, 0), rgba(250, 254, 22, 0))
      padding-box,
    linear-gradient(
        to right,
        rgba(117, 178, 115, 0.685),
        rgba(249, 254, 22, 0.315)
      )
      border-box;
  border-radius: 5px;
  cursor: pointer;
  border: 4px solid transparent;
  filter: drop-shadow(0px 4px 4px rgba(42, 43, 39, 0.425));
}

.btn2:hover {
  filter: drop-shadow(0px 5px 5px rgba(8, 59, 107, 0.76));
}

.toggle-button {
  position: absolute;
  display: none;
  top: 2em;
  right: 1.2rem;
  font-size: 1.5rem;
  color: #ffffffd3;
  background-color: linear-gradient(
    to right,
    rgba(117, 178, 115, 0.685),
    rgba(249, 254, 22, 0.315)
  );
  width: 5rem;
  height: 2rem;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.main-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  height: 10vh;
  width: 50vw;
  margin: auto;
}

.main-btn1 {
  text-decoration: none;
  width: 10.063rem;
  height: 3.25rem;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  justify-content: center;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(74.42deg, #b0bf00 3.63%, #051937 63.66%);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 7px;
}
.main-btn2 {
  text-decoration: none;
  width: 10.063rem;
  height: 3.25rem;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  justify-content: center;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: rgba(36, 36, 36, 1);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 7px;
}

.main-container {
  height: 60vh;
  width: 50vw;
  margin: auto;
  padding: auto;
  display: flex;
  justify-content: center;
}
.main-text {
  margin: auto;
  padding-top: 5rem;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  width: 416px;
  height: 122px;
  color: #fffffd;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.boxes-container {
  display: flex;
  width: 100vw;
  height: 30vh;
  margin-top: -4.9rem;
  justify-content: space-around;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  justify-content: center;
  background: #242424;
  border-radius: 30px;
}
.boxtitle {
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin: 0.4rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.boxinfo {
  width: 191px;
  height: 29px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #cacaca;
  opacity: 0.6;
}
.nano {
  position: absolute;
  background-image: url("./components/img/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 16%;
  height: 1357px;
  width: 100vw;
  display: flex;
}
.BigBox {
  margin-top: 30rem;
  position: absolute;
  height: 60vh;
  width: 99vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header1,
.header2,
.header3 {
  position: absolute;
  transform: translate(0%, -90%);
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: #514caa;
}
.box1,
.box2,
.box3 {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 19.875rem;
  height: 14.063rem;
  background: rgba(36, 36, 36, 1);
  border-radius: 30px;
  display: flex;
}
.soon {
  width: 191px;
  height: 29px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f6f0f0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 45vh;
  background: #242424;
}

.footer-container {
  margin: auto;
  display: flex;
  justify-content: space-around;
  height: 43vh;
}
.footer-section1 {
  padding: 16px 64px 0px 0px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.logo-container {
  display: flex;
}

.footer-imglogo {
  height: 13.5vh;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.84));
}
.footer-text {
  margin: 0rem 1rem;
  width: auto;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  padding: 16px 0px 0px 8px;
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: rgba(255, 255, 255, 1);
  opacity: 0.8;
}
.footer-textlogo {
  font-family: Marko One;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(3, 3, 3, 0.66);
}
.footer-section2 {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  align-items: center;
}
.footer-text2 {
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  opacity: 0.9;
}
.footer-linksbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  padding: 1rem 1rem;
  font-family: "DM Sans", sans-serif;
}
.linksbox1 a {
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin: 2rem;
  color: #ffffff;
  opacity: 0.9;
  margin-top: 0.9rem;
}
.linksbox2 a {
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  margin: 2rem;
  opacity: 0.9;
  margin-top: 0.9rem;
}
.linksbox1,
.linksbox2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.telegram,
.Ike,
.twitter,
.discord {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Ikelogo {
  width: 3.9rem;
  height: 8vh;
  margin-bottom: 1.2rem;
  margin-right: -1.2rem;
}
.telegramlogo,
.twitterlogo,
.discordlogo {
  margin-bottom: 0.79rem;
  margin-right: -1rem;
  height: 4vh;
}
@media only screen and (max-width: 860px) {
  .BigBox {
    display: flex;
    flex-direction: column;
  }
  .box1,
  .box2,
  .box3 {
    margin: 2.5rem;
    width: 70vw;
    padding: 3.5rem;
  }

  .header1,
  .header2,
  .header3 {
    position: absolute;
    width: 20vw;
    height: 20vh;
    border-radius: 50%;
    transform: translate(165%, 0%);
  }
}

@media only screen and (max-width: 760px) {
  .header-btn,
  .logo {
    display: flex;
    flex-direction: column;
  }
  .toggle-button {
    display: flex;
  }
  .boxes-container {
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .main-text {
    width: 100vw;
    height: 35vh;
    text-shadow: rgba(36, 37, 36, 0.952);
  }
  .box {
    border-radius: 5px;
    width: 90vw;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  .main-btn {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50vw;
  }
  .main-btn1,
  .main-btn2 {
    width: 65vw;
  }
  .boxes-container {
    margin-top: -1rem;
  }

  .footer-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: auto;
    background-color: #242424;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 1rem;
    width: 95vw;
  }
  .footer-text {
    text-align: center;
    line-height: 1.4rem;
    font-size: 1rem;
  }
  .footer-section2 {
    display: flex;
    justify-content: space-around;
    width: auto;
    margin: 0;
    background-color: #242424;
  }

  .footer-linksbox {
    margin: 3.5rem auto;
    justify-content: center;
  }
}
